@import url('https://fonts.googleapis.com/css?family=Cagliostro');

.container{
    text-align: center;
    position: center;
    height: 100%; 
    padding-left:0.5vw;
    padding-top:2vw;
    font-family: 'Cagliostro'!important;
    font-size: 2.7vw;
    font-weight: bold;

}

.board{
    padding-top: 1vw!important;
}

.fontstyle{
    font-family: 'Cagliostro'!important;
}

.picture{
    height:40vw;
    width: 40vw;
    padding-left:30%;
}

.fontstyle{
    font-family: 'Cagliostro';
}

@media only screen and (max-width: 900px){

    .container
    {
        padding-top: 16vw;
        font-size: 7vw;
    }

    .board
    {
        padding-top: 30%!important;
    }
    
    .picture{
        height:70vw;
        width: 70vw;
        padding-left: 13vw;
    }
    
}

